<li data-ice="navGroup" class="has-children">
   <ul>
      <li data-ice="navPackage" class="has-children">
         <ul>
            <li data-ice="navFolder" class="has-children">
               <ul>
                  <li data-ice="navFile" class="has-children nav-accordion-file">
                     <ul>
                        <li data-ice="doc" class=""><span data-ice="docLink"></span></li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
   </ul>
</li>
