<ul class="nav-accordion-menu animated">
   <li class="has-children">
      <input type="checkbox" name ="group-1" id="group-1" checked>
      <label for="group-1" class="nav-header">Local Source</label>

      <ul>
         <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
         <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
         <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
         <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
         <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
         <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>

         <li class="has-children">
            <input type="checkbox" name ="sub-group-1" id="sub-group-1" checked>
            <label for="sub-group-1" data-ice="dirPath" class="nav-dir-path">Sub Group 1</label>

            <ul>
               <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>

               <li class="has-children">
                  <input type="checkbox" name ="sub-group-1A" id="sub-group-1A" checked>
                  <label for="sub-group-1A" data-ice="dirPath" class="nav-dir-path">Sub Group 1A</label>

                  <ul>
                     <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                     <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                     <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                     <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                     <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                     <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>

                     <li class="has-children">
                        <input type="checkbox" name ="sub-group-1B" id="sub-group-1B" checked>
                        <label for="sub-group-1B" data-ice="dirPath" class="nav-dir-path">Sub Group 1B</label>

                        <ul>
                           <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                           <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                           <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                           <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                           <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
                           <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>

                        </ul>
                     </li>
                  </ul>
               </li>


            </ul>
         </li>

         <li class="has-children">
            <input type="checkbox" name ="sub-group-2" id="sub-group-2" checked>
            <label for="sub-group-2" data-ice="dirPath" class="nav-dir-path">Sub Group 2</label>

            <ul>
               <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
            </ul>
         </li>

         <li class="has-children">
            <input type="checkbox" name ="sub-group-3" id="sub-group-3" checked>
            <label for="sub-group-3" data-ice="dirPath" class="nav-dir-path">Sub Group 3</label>

            <ul>
               <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
            </ul>
         </li>
      </ul>
   </li>

   <li class="has-children">
      <input type="checkbox" name ="group-2" id="group-2" checked>
      <label for="group-2" class="nav-header">JSPM Managed Source</label>

      <ul>
         <li class="has-children">
            <input type="checkbox" name ="sub-group-4" id="sub-group-4" checked>
            <label for="sub-group-4" data-ice="dirPath" class="nav-dir-path">(backbone-es6): backbone/src</label>
            <ul>
               <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
            </ul>
         </li>

         <li class="has-children">
            <input type="checkbox" name ="sub-group-5" id="sub-group-5" checked>
            <label for="sub-group-5" data-ice="dirPath" class="nav-dir-path">(backbone-es6): backbone/src</label>
            <ul>
               <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
            </ul>
         </li>

         <li class="has-children">
            <input type="checkbox" name ="sub-group-6" id="sub-group-6" checked>
            <label for="sub-group-6" data-ice="dirPath" class="nav-dir-path">(backbone-es6): backbone/src</label>
            <ul>
               <li data-ice="doc" class="nav-kind-class"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-interface"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-function"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-variable"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-typedef"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
               <li data-ice="doc" class="nav-kind-external"><a href="class/src/TestExportNamed.js~NamedClass1.html">NamedClass1</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>